@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
.import-text {
    font-size: 16px; /* Make text bigger */; 
    margin-bottom: 10px; /* Add space below */
    text-align: center; /* Center the text */
    font-family: monospace;
   
}

/* Centers the entire prompt + file upload */
.prompt-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    
  }
  
  /* Controls the file upload box width and spacing */
  .file-upload-box {
    max-width: 320px; /* Adjust size */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px /* Add space between text and upload field */
  }

  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Moves it toward the bottom */
    height: 120vh; /* Adjusts height to move it down */
    margin-bottom: 50px; /* Adds space before hitting the bottom */
  }
  .detect-button{
    background-color: #6842d1; /* Matches PktWatch purple */
    color: white; /* White text */
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  .graph-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .graph-container {
    min-height: 400px; /* Ensures space is always there */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust spacing */
    
  }
  
.Graph-Title{
  font-family: monospace;
}
  
.anomaly-count {
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  color: #6842d1; /* Adjust to your theme */
  margin-top:10px;
  margin-bottom: 0px;
}

  